In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("write_throughKTOB.csv")

In [10]:
df

     m       time      stdv
0    0  15.292549  1.690957
1    2   9.059631  1.439220
2    4   5.528904  0.558599
3    8   4.882506  0.057440
4   16   4.766924  0.016496
5   32   4.711877  0.024388
6   64   4.669896  0.009948
7  128   4.687793  0.025717